{% extends 'layout.html' %} {% block body %} {% if html %} {{html|safe}}

<div class="test-again">
  <hr style="margin: 5px 0;" />
  <a href="{% url 'test' %}">
    <button class="test-btn">Test Again</button>
  </a>
</div>

{% else %}
<div class="test-wrapper">
  <h1 class="page-title">TEST A PAGE</h1>

<hr style="margin: 5px 0;" />

<form class="test-form" method="GET" action="{% url 'test' %} ">

  <textarea class="test-text" name="html" placeholder="FILE DATA : Paste your file data here!"
    id="exampleFormControlTextarea1" rows="20"></textarea>

  <hr />

  <input type="submit" value="View page" class="test-btn" />

</form>
</div>

{% endif %}

{% endblock %}